<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <script src="../Scripts/jquery-3.1.1.js"></script>
    <script src="../Scripts/angular.js"></script>
    <script src="../Scripts/bootstrap.js"></script>
    <link href="../Content/bootstrap.css" rel="stylesheet" />
    <script src="../signup.js"></script>
</head>
<body ng-app="signUpApp" ng-controller="ImageCtrl">
    <br />
    <h2>Add Images</h2>
    <hr />
    <div>
        <div class="container" style="align-self:center">
            <div class="col-sm-5">
                <input type="file" ng-model="myFile" class="form-control" onchange="angular.element(this).scope().uploadedFile(this)" accept="image/*" multiple />
            <hr />
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <button ng-click="uploadFile()" class="btn btn-block btn-success">Upload Image</button>
                    <hr />
                </div>
            </div>
        </div>
        <!--<div class="row">
            <div class="col-lg-4">
                <img id="output" style="width:200px; height:150px" class="img-responsive" />
            </div>         
        </div>-->
    </div>

    <footer class="container-fluid text-center">
        <h3>Property24 &copy; Rights Reserved</h3>
    </footer>

</body>
</html>
