<!DOCTYPE html>
<html>
<head>
    <title>Contact Agent</title>
	<meta charset="utf-8" />
    <script src="../Scripts/jquery-3.1.1.js"></script>
    <script src="../Scripts/angular.js"></script>
    <script src="../Scripts/bootstrap.js"></script>
    <link href="../Content/bootstrap.css" rel="stylesheet" />
    <script src="../signup.js"></script>

</head>
<body ng-app="signUpApp">
    <br />
    <h2>Contact Agent</h2>
    <hr />
    <form class="form-horizontal" ng-controller="EmailCtrl">
        <div class="form-group">
            <label class="control-label col-sm-2">Name</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" placeholder="Your Name" ng-model="emailSe.emailName">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Email</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" placeholder="Your Email" ng-model="emailSe.emailFrom">
            </div>
        </div> 
            <div class="form-group">
                <label class="control-label col-sm-2">Mobile Number</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" placeholder="Your Mobile" ng-model="emailSe.emailNumber">
                </div>
            </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Message</label>
            <div class="col-sm-3">
                <textarea ng-model="emailSe.emailBody"class="form-control" placeholder="Property Description and Details" style="height:200px"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2"></label>
            <div class="col-sm-3">
                <button type="submit" ng-click="sendEmail()" class="btn btn-block btn-success">Send Email</button>
            </div>
        </div> 
    </form>
    <hr />
    <!--<div class="form-group">
        <table class="table table-hover" style="width:550px">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Description</th>
                    <th>Suburb</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{}}</td>
                    <td>{{}}</td>
                    <td>{{}}</td>
                </tr>
            </tbody>
        </table>
    </div>-->
    <footer class="container-fluid text-center">
        <h3>Property24 &copy; Rights Reserved</h3>
    </footer>
</body>
</html>
